<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
</head>
<body>

<form action="bookEdit.html" id="edit-form" th:action="@{/bookEdit(id=${book.id})}" th:method="post"
      th:object="${book}">
    <h3>Book info:</h3>

    <div class="row" hidden>
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" th:value="*{id}" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="book-title-input">Name:</label>
        <input id="book-title-input" name="title" th:value="*{title}" type="text" value="Pulp fiction"/>
    </div>

    <div class="row">
        <label for="book-isbn-input">ISBN:</label>
        <input id="book-isbn-input" name="isbn" th:value="*{isbn}" type="text" value="9999 9999 9999 9999"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <select id="book-author-input" name="author_id">
            <option th:each="author : ${authors}" th:selected="${author.id == book.author.id}" th:text="${author.name}" th:value="${author.id}"
                    value="1">Пушкин
            </option>
        </select>
        </th:each>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <select id="book-genre-input" name="genre_id">
            <option th:each="genre : ${genres}" th:selected="${genre.id == book.genre.id}" th:text="${genre.name}" th:value="${genre.id}"
                    value="1">Поэма
            </option>
        </select>
        </th:each>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="bookList.html" th:href="@{/books}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
