<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit task</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <script>
      function deleteTask() {

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        
        $.ajax({
           url: '/api/tasks/'+ urlParams.get('id'),
           type: 'DELETE',
           contentType: 'application/json',
           success: function(result) {
                $(location).prop('href', '/tasks')
            },
            error: function(result) {
                console.log(result);
                },
        });
      }
    </script>
    <h3>Task info:</h3>
    <div class="row" hidden>
        <label for="task-id-input">ID:</label>
        <input id="task-id-input" value="" type="text" readonly/>
    </div>
    <div class="row">
        <label for="task-name-input">Name:</label>
        <input id="task-name-input" type="text" readonly/>
    </div>

    <div class="row">
        <label for="task-code-input">Code:</label>
        <input id="task-code-input" type="text" readonly/>
    </div>

    <div class="row">
        <label for="task-next_run-input">Next run date:</label>
        <input id="task-next_run-input" type="text" readonly/>
    </div>

    <div class="row">
        <label for="task-schedule-input">Schedule:</label>
        <input id="task-schedule-input" readonly></input>
    </div>
    <div class="row">
        <label for="task-task-type-input">Type:</label>
        <input id="task-task-type-input" readonly></input>
    </div>
    <div class="row">
        <button onclick="deleteTask()">Delete</button>
        <a href="/tasks">
            <button type="button">Cancel</button>
        </a>
    </div>
    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);

        $.get('/api/tasks/' + urlParams.get('id')).done(function (task) {
            val = document.getElementById('task-id-input');
            val.value = task.id
            val = document.getElementById('task-name-input');
            val.value = task.name
            val = document.getElementById('task-code-input');
            val.value = task.code
            val = document.getElementById('task-next_run-input');
            val.value = task.nextRun
            val = document.getElementById('task-schedule-input');
            val.value = task.schedule.name
            val = document.getElementById('task-task-type-input');
            val.value = task.taskType.name
        })
    });

    </script>

</body>
</html>
