<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h3>Author Info:</h3>

    <script>
      function postAuthor() {
        var data = {"name": document.getElementById('author-name-input').value};
        $.ajax({
           url: '/api/authors/',
           type: 'POST',
           contentType: 'application/json',
           data: JSON.stringify(data),
           success: function(result) {
                $(location).prop('href', '/authors');
            },
            error: function(result) {
                console.log(result);
                },
        });
      }
    </script>

    <div class="row">
        <label for="author-name-input">Name:</label>
        <input id="author-name-input" name="name" type="text" value="Иванов Иван" required/>
    </div>

    <div class="row">
        <button onclick="postAuthor()">Save</button>
        <a href="authors">
            <button type="button">Cancel</button>
        </a>
    </div>

</body>
</html>
