<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
</head>
<body>

<form action="genreDelete.html" id="delete-form" th:action="@{/genreDelete(id=${genre.id})}" th:method="post"
      th:object="${genre}">
    <h3>Genre Info:</h3>

    <div class="row" hidden>
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" th:value="*{id}" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="genre-name-input">Name:</label>
        <input id="genre-name-input" readonly th:value="*{name}" type="text" value="Pulp fiction"/>
    </div>

    <div class="row">
        <button type="submit">Delete</button>
        <a href="genreList.html" th:href="@{/genres}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
