<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }

    </style>
</head>
<body>
<a href="root.html" th:href="@{/}">Back to root</a>
<br>
<a href="genreNew.html" th:href="@{/genreCreate}">Create new genre</a>
<table class="genres">
    <thead>
    <tr>
        <th hidden>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td hidden th:text="${genre.id}">1</td>
        <td th:text="${genre.name}">Pulp fiction</td>
        <td>
            <a href="genreEdit.html" th:href="@{/genreEdit(id=${genre.id})}">Edit</a>
        </td>
        <td>
            <a href="genreDelete.html" th:href="@{/genreDelete(id=${genre.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="genreNew.html" th:href="@{/genreCreate}">Create new genre</a>
<br>
<a href="root.html" th:href="@{/}">Back to root</a>
</body>
</html>