<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Delete author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form action="authorDelete.html" id="delete-form" method="post">
    <h3>Author Info:</h3>

    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        $.get('/api/author?id='+ urlParams.get('id')).done(function (author) {
                $('form').append(`
                <form action="/api/authorDelete" id="delete-form" method="post">
                    <div class="row" hidden>
                        <label for="id-input">ID:</label>
                        <input id="id-input" name="id" value="${author.id}" type="text" required/>
                    </div>
                    <div class="row">
                        <label for="author-name-input">Name:</label>
                        <input id="author-name-input" value="${author.name}" type="text" readonly/>
                    </div>
                    <div class="row">
                        <button type="submit"/>Delete</button>
                        <a href="/authors">
                            <button type="button">Cancel</button>
                        </a>
                    </div>
                </form>
                `)
        })

    });

    </script>

</form>

</body>
</html>
