<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Delete book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form action="/api/bookDelete" id="delete-form" method="post">
    <h3>Book info:</h3>

    <div class="row" hidden>
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="book-title-input">Name:</label>
        <input id="book-title-input" readonly type="text" value="Pulp fiction"/>
    </div>

    <div class="row">
        <label for="book-isbn-input">ISBN:</label>
        <input disabled="disabled" id="book-isbn-input" readonly type="text" value="Pulp fiction"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" readonly type="text" value="9999 9999 9999 9999"/>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" readonly value="9999 9999 9999 9999"/>
    </div>


    <div class="row">
        <button type="submit">Delete</button>
        <a href="/books">
            <button type="button">Cancel</button>
        </a>
    </div>
    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        $.get('/api/book?id='+ urlParams.get('id')).done(function (book) {
                val = document.getElementById('id-input');
                val.value = book.id
                val = document.getElementById('book-title-input');
                val.value = book.title
                val = document.getElementById('book-isbn-input');
                val.value = book.isbn
                $.get('/api/authors').done(function (authors) {
                    select = document.getElementById('book-author-input');
                    authors.forEach(function (author) {
                        if (author.id == book.authorId){
                            select.value = author.name
                        }
                    });
                })
                $.get('/api/genres').done(function (genres) {
                    select = document.getElementById('book-genre-input');
                    genres.forEach(function (genre) {
                        if (genre.id == book.genreId){
                            select.value = genre.name
                        }
                    });
                })
        })
    });

    </script>
</form>

</body>
</html>
