<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h3>New book:</h3>

    <script>
      function postBook() {
        var data = {"title": document.getElementById('book-title-input').value,
                    "isbn": document.getElementById('book-isbn-input').value,
                    "authorId": document.getElementById('book-author-input').value,
                    "genreId": document.getElementById('book-genre-input').value,
                    };
        $.ajax({
           url: '/api/books/',
           type: 'POST',
           contentType: 'application/json',
           data: JSON.stringify(data),
           success: function(result) {
                $(location).prop('href', '/books');
            },
            error: function(result) {
                console.log(result);
                },
        });
      }
    </script>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Анжелика и король" required/>
    </div>

    <div class="row">
        <label for="book-isbn-input">ISBN:</label>
        <input id="book-isbn-input" name="isbn" type="text" value="9999 9999 9999 9999" required/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <select id="book-author-input" name="authorId">
        </select>
        <script>
    $(function () {
        $.get('/api/authors').done(function (authors) {
            select = document.getElementById('book-author-input');
            authors.forEach(function (author) {
                var option = document.createElement('option');
                option.value = author.id
                option.text = author.name
                select.appendChild(option)
            });
        })
    });

</script>

    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <select id="book-genre-input" name="genreId">
        </select>
        <script>
    $(function () {
        $.get('/api/genres').done(function (genres) {
            select = document.getElementById('book-genre-input');
            genres.forEach(function (genre) {
                var option = document.createElement('option');
                option.value = genre.id
                option.text = genre.name
                select.appendChild(option)
            });
        })
    });

</script>

    </div>

    <div class="row">
        <button onclick="postBook()">Save</button>
        <a href="/books">
            <button type="button">Cancel</button>
        </a>
    </div>

</body>
</html>
