<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form action="/api/commentEdit" id="edit-form" method="post">
    <h3>Comment:</h3>

    <div class="row" hidden>
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" readonly="readonly" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="comment-text-input">Name:</label>
        <input id="comment-text-input" name="text" type="text" value="Pulp fiction" required/>
    </div>

    <div class="row" hidden>
        <label for="comment-book-input">Name:</label>
        <input id="comment-book-input" name="bookId" type="text" value="Pulp fiction" required/>
    </div>


    <div class="row">
        <button type="submit">Save</button>
        <a href="commentList.html" id="link-back">
            <button type="button">Cancel</button>
        </a>
    </div>

    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        $.get('/api/comment?id='+ urlParams.get('id')).done(function (comment) {
                val = document.getElementById('id-input');
                val.value = comment.id
                val = document.getElementById('comment-text-input');
                val.value = comment.text
                val = document.getElementById('comment-book-input');
                val.value = comment.bookId
                val = document.getElementById('link-back');
                val.href = "/comments?book_id=" + comment.bookId
        })
    });

    </script>
</form>


</body>
</html>
