<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h3>Genre Info:</h3>

    <script>
      function putGenre() {

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var data = {"id": document.getElementById('id-input').value, "name": document.getElementById('genre-name-input').value};
        $.ajax({
           url: '/api/genres/'+ urlParams.get('id'),
           type: 'PUT',
           contentType: 'application/json',
           data: JSON.stringify(data),
           success: function(result) {
                $(location).prop('href', '/genres')
            },
            error: function(result) {
                console.log(result);
                },
        });
      }
    </script>

    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        $.get('/api/genres/'+ urlParams.get('id')).done(function (genre) {
                $('body').append(`
                    <div class="row" hidden>
                        <label for="id-input">ID:</label>
                        <input id="id-input" name="id" value="${genre.id}" type="text" required/>
                    </div>
                    <div class="row">
                        <label for="genre-name-input">Name:</label>
                        <input id="genre-name-input" name="name" value="${genre.name}" type="text" required/>
                    </div>
                    <div class="row">
                        <button onclick="putGenre()"/>Save</button>
                        <a href="/genres">
                            <button type="button">Cancel</button>
                        </a>
                    </div>
                </form>
                `)
        })

    });

    </script>

</body>
</html>
